<a href="/#<%= restaurant.escape("id") %>-<%= restaurant.escape("name") %>"
  target="_blank">
  <div id="<%= restaurant.escape("name") %>-img">
    <img src="http://ak.picdn.net/shutterstock/videos/1811054/preview/stock-
    footage-close-up-of-chef-hands-cooking-and-preparing-asian-food-and-sushi-
    in-restaurant-kitchen-rack-focus.jpg" alt="<%= restaurant.escape("name") %>"
    height="" width=""/>
  </div>

  <div id="<%= restaurant.escape("name") %>-info">
    <%= restaurant.escape("name") %>
    <br>
    <%= restaurant.escape("address") %>
  </div>
</a>
