<!DOCTYPE html>
<html>
<head>
  <title>MosaApp</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
      <a href="<%= root_url %>" class='navbar-brand'>MOSA Logo</a>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "About", about_page_url %></li>
        <li><a href="#">Blog</a></li>
        <li>
          <% if signed_in? %>
              <%= button_to "Logout", session_url, method: :delete,
                class: "btn btn-default navbar-btn btn-xs" %>
          <% else %>
              <%= link_to "Sign Up!", new_user_url %>
          <% end %>
        </li>
        <li>
          <a href="#"><%= image_tag "Facebook.png" %></a>
        </li>
        <li>
          <a href="#"><%= image_tag "Twitter.png" %></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <main class='container'> -->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <%= error %>
          <br>
        <% end %>
      <% end %>

    <%= yield %>
  <!-- </main> -->

</body>
</html>
